body {
  color: #2c3e50;
  font: normal 16px "Open Sans", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  color: #7492e9;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover,
a:focus {
  color: #01579b;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Catamaran", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p.lead {
  font-size: 24px;
  font-weight: 200;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 20px;
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
  border-color: #1ABC9C;
}

blockquote small {
  color: inherit;
}

pre {
  background-color: rgba(255, 255, 255, .5);
  border-color: rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}

.animated {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  visibility: visible;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/*	Section
	==================================================*/

.section {
  padding: 100px 0;
}

.active-section {
  top: 80px;
}

.navbar.active-section {
  top: 0 !important;
}


/*	Button & Label
	==================================================*/

.alert {
  color: #FFF;
  border: none;
}

[class^="alert-"] .alert-link,
[class*=" alert-"] .alert-link {
  color: #FFF;
  font-weight: 300;
  text-decoration: underline;
}

.btn,
.label {
  font-weight: 300;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover,
.btn:focus {
  outline: none;
}

.btn-link {
  color: #1abc9c;
}

.btn-link:hover,
.btn-link:focus {
  color: #16a085;
}

.btn-default,
.label-default {
  background-color: #34495e;
  border-color: #34495e;
  color: #FFF;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #FFF;
}

.btn-success,
.label-success,
.alert-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-success:hover,
.btn-success:focus {
  border-color: #27ae60;
  background-color: #27ae60;
}

.btn-primary,
.label-primary {
  background-color: #88c52e;
  border-color: #88c52e;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #73a624;
  border-color: #73a624;
}

.btn-info,
.label-info,
.alert-info {
  background-color: #88c52e;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #73a624;
  border-color: #73a624;
}

.btn-warning,
.label-warning,
.alert-warning {
  background-color: #e67e22;
  border-color: #e67e22;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #d35400;
  border-color: #d35400;
}

.btn-danger,
.label-danger,
.alert-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c0392b;
  border-color: #c0392b;
}


/*	Tab & Collapse Skin
	==================================================*/

.tab-pane {
  padding: 15px 0;
  margin-bottom: 5px;
}

.nav-tabs {
  border-bottom-color: #e9f3e3;
}

.nav-tabs>li>a {
  padding: 10px 0;
  margin-right: 30px;
  color: inherit;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: transparent;
  border: none;
  border-color: rgba(255, 255, 255, 0);
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #e9f3e3;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  color: #1abc9c;
  background: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background: transparent;
  border: none;
  color: #1abc9c;
  border-bottom: 1px solid #1abc9c;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #1abc9c;
}

.nav .caret,
.nav a:hover .caret {
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: #1abc9c;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #bdc3c7;
  color: inherit;
  font-size: 40px;
}

.navbar-inverse .navbar-toggle {
  background-color: #34495e;
  border-color: #2c3e50;
  margin-top: 23px;
}

.navbar-inverse .navbar-toggle:focus {
  outline: none;
}

.panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.panel-default {
  border-color: #e9f3e3;
}

.panel-default:last-child {
  margin-bottom: 25px;
}


/*
.panel-default>.panel-heading {
	background: #e9f3e3;
	color: inherit;
}
*/

.panel-default>.panel-heading+.panel-collapse .panel-body {
  border-top: none;
}


/*	Form
	==================================================*/

label {
  font-weight: 300;
}

.input-group {
  margin-bottom: 10px;
}


.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #e74c3c;
}

.has-error .form-control {
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.has-error .form-control:hover,
.has-error .form-control:focus {
  background-color: #FFF;
  border-color: #e74c3c;
  color: #e74c3c;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}



#header {
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  /*	background-color:rgba(0,255,0,.00);*/
  color: white;
}



#parallax {
  height: 780px;
  width: 100%;
  top: 00;
  position: fixed;
  background: url('../images/jamia_bg_small.jpg') center center no-repeat;
  background-size: cover;
  z-index: -100;
}


/*	Navbar*/

.navbar-inverse .navbar-brand {
  padding: 30px 15px;
  margin-right: 30px;
  color: inherit;
  font-size: 20px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #1de9b6;
}

.navbar-inverse {
  background-color: rgba(255, 255, 255, .9);
  border: none;
}

.navbar-nav>li>a {
  padding: 30px 0;
  margin: 0 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: inherit;
  text-transform: uppercase;
  font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #1de9b6;
}



.header-button {
  margin-left: 15px;
}

/*	Hero
	==================================================*/
#hero {
  background: rgba(0, 0, 0, 0);
  color: #000;
  margin-top: 80px;
  padding: 0;
}
#hero .lp-element {
  padding: 150px 50px;
  background-color: rgba(34, 100, 122, 0.00);
  color: #ffffff;
}
#hero h1 {
  font-size: 80px;
}
#hero p.lead {
  font-size: 1.8em;
}

/*	Features
	==================================================*/
#features {
  background-color: #FFF;
}
.overview h1 {
  text-transform: uppercase;
}
.overview,
.service-block {
  text-align: center;
}
.overview .lead {
  margin: 40px 10%;
  margin-bottom: 80px;
}
.service-block {
  margin-bottom: 30px;
}
.service-block .glyphicon {
  font-size: 60px;
  margin-bottom: 20px;
}

/*	Image
	==================================================*/
#image {
  background-color: #e9f3e3;
}

/*	Responsive
	==================================================*/
@media (max-width: 991px) {
  .service-block {
    margin-bottom: 30px;
  }

  #image img.img-responsive {
    margin-left: auto;
    margin-right: auto;
  }

  .faq-block {
    margin: 0 60px;
  }

  .navbar-nav>li>a {
    margin: 0 7px;
  }
}
@media (max-width: 767px) {
  .service-block,
	.img-responsive,
	.carousel {
    margin-bottom: 30px;
  }

  .overview .lead {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    max-width: 690px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .faq-block {
    margin: 0 50px;
  }

  .navbar-nav>li>a {
    padding: 10px;
  }

  .header-button {
    margin: 0;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4,
	.carousel-inner blockquote p {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p.lead {
    font-size: 18px;
  }

  .section {
    padding: 60px 0;
  }

  .overview p.lead {
    margin-bottom: 40px;
  }
  /*added by Joy*/

  .contact-box {
    width: 50%;
    margin-left: 25%;
  }

  .contact-box p.lead {
    margin: 0;
  }

  .stud .contact-box .lead {
    font-size: 0.8em;
  }
  /*	done*/

  .service-block,
	.img-responsive,
	.carousel {
    margin-bottom: 30px;
  }

  .overview .lead {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    max-width: 690px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #newsletter form {
    width: 100%;
    margin: 0;
  }

  .input-lg,
	.btn-lg {
    font-size: 12px;
    height: 37px;
  }

  .faq-block {
    margin: 0 40px;
  }
}
@media (max-width: 490px) {
  .container {
    max-width: 430px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #hero .lp-element {
    margin-left: -30px;
    margin-right: -30px;
  }

  .stud .contact-box .lead {
    font-size: 0.5em;
  }

  #hero h1 {
    font-size: 38px;
  }

  #hero p.lead {
    font-size: 1.5em;
  }

  #gallery .col-xs-6 {
    width: 50%;
  }

  .faq-block {
    margin: 0;
  }
}

.navbar{
  background-color: aliceblue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding-top: 0rem;
}
.navbar .nav-item {
  /* margin-right: 50px; */
  font-size: 15px;
}
.upper{
  margin-bottom: 0px;
}
.navbar-brand img {
  width: 10px;
  height: 10px;
  height: 90px; 
  margin-left: 50px;
}
/* .nav-item{
  margin: 0px;
  padding: ;
  
} */
/*
.nav-item:last-child::after {
  content: none;
} */


ul.list-unstyled li {
  margin-top: 10px;
}

.list-unstyled a {
  text-decoration: none;
}

.nav-link {
  color: rgb(44, 122, 96);
}
.images {
  display: flex; 
  height: 340px; 
  margin-top: 135px;
}

.nav2{ 
  height: 50px; 
  background-color: rgb(61, 48, 128);
}
/* .nav2 .nav {
  background-color: rgb(61, 48, 128); 
  height: 50px; 
  align-items: center;
}

.nav2 .nav-link{
  color: #ffffff;
} */

.text-light{
  color: #FFF;
  font-weight: 600;
}

.footimg{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

footer{
  background-color: #2f2f2f; 
  /* margin-top: 300px;  */
  margin-bottom: 0px; 
  width: 100%;
}


